
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Admin</h2>

@* ============= ConsumerDetails ==============*@
<partial name="~/Views/Admin/ConsumerDetails.cshtml" />
@* ============= End ConsumerDetails ==============*@






