@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="jumbotron" style="text-align:center">

    <h2> Access Denied.....</h2>
    <h4>
     Please log in.<a class="dropdown-item" asp-action="Signout" asp-controller="AdminShowOrder">Go</a>
    </h4>
</div>