@inject ApplicationDbContext _db

@{
    ViewData["Title"] = "UpdatedStorageManagement";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<html>
<head>

    <meta charset="utf-8" />
    <script data-require="angular.js@1.5.3" data-semver="1.4.8" src="https://code.angularjs.org/1.4.8/angular.js"></script>
    <script data-require="angular-resource@1.4.8" data-semver="1.4.8" src="https://code.angularjs.org/1.4.8/angular-resource.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.23/angular.min.js"></script>
    <title></title>
</head>
<body>
    <img src="https://e00-marca.uecdn.es/assets/multimedia/imagenes/2018/02/25/15195623621345.jpg" alt="Girl in a jacket" width="500" height="600">
</body>
</html>