
@inject ApplicationDbContext _db
@inject IDDLHelper _ddlHelper
@inject ApplicationDbContext _context
@{ ViewData["Title"] = "Bill History";
    Layout = "~/Views/Shared/_ConsumerPaymentLayout.cshtml";
    string userID = ViewBag.UserId;
    var BillViewDictionary = new Dictionary<string, string>();

    var consumerOrderHistory = _db.OrderHistoryVr2.Where(x =>x.UserId == userID).ToList();
    consumerOrderHistory.OrderBy(x => x.OrderDate);
    var BillListOnDateMeal =
    from bl in consumerOrderHistory
    group bl by new { bl.MealTypeId, bl.OrderDate.Date} into BillMillDate
    select new
    {
        Team = BillMillDate.Key,
        TotalBill = BillMillDate.Sum(x => x.OrderAmount),
    };
    var BillListMD = BillListOnDateMeal.ToList();

 }


<style>


    .modal {
        display: none; /* Hidden by default */
        position: fixed; /* Stay in place */
        /*z-index: 1;*/ /* Sit on top */
        padding-top: 100px; /* Location of the box */
        left: 0;
        top: 0;
        width: 100%; /* Full width */
        height: 100%; /* Full height */
        overflow: auto; /* Enable scroll if needed */
        background-color: rgb(0,0,0); /* Fallback color */
        background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
        padding-left: 100px;
    }

    /* Modal Content */
    .modal-content {
        background-color: #fefefe;
        margin: auto;
        padding: 20px;
        border: 1px solid #888;
        width: 40%;
    }

    /* The Close Button */
    .close {
        color: #aaaaaa;
        float: right;
        font-size: 28px;
        font-weight: bold;
    }

        .close:hover,
        .close:focus {
            color: #000;
            text-decoration: none;
            cursor: pointer;
        }
</style>


<section class="content">
    <div class="container-fluid">

        <div id="historyModal" class="modal">
            <div class="modal-content">
      
                <div class="row" id="orderTable">

                </div>

                <div class="row" style="padding-top:20px;">
                    <div class="col-sm-3">

                    </div>
                    <div class="col-sm-3">
                        @*<button class="btn" style="padding:2px;" onclick="addMoreOnSpotEdit()">Add More</button>*@

                    </div>

                    <div class="col-sm-3">
                        @*<button class="btn" onclick="ConfirmEdit()" style="padding:3px;"> Save</button>*@
                    </div>
                    <div class="col-sm-3">
                        <button class="btn" onclick="CloseModal()" style="padding:3px;"> Close</button>

                    </div>
                </div>

            </div>
        </div>

        <!-- Exportable Table -->
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                    <div class="header">
                        <h2>
                            Bill History
                        </h2>
                        <ul class="header-dropdown m-r--5">
                            <li class="dropdown">
                                <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                    <i class="material-icons">more_vert</i>
                                </a>
                                <ul class="dropdown-menu pull-right">
                                    <li><a href="javascript:void(0);">Action</a></li>
                                    <li><a href="javascript:void(0);">Another action</a></li>
                                    <li><a href="javascript:void(0);">Something else here</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <div class="body">
                        <div class="table-responsive">
                            <table class="table table-bordered table-striped table-hover dataTable js-exportable">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th>Date</th>
                                        <th>Breakfast</th>
                                        <th>Tea Break</th>
                                        <th>Lunch</th>
                                        <th>Extra Chit</th>
                                    </tr>
                                </thead>
                                <tfoot>
                                    <tr>
                                        <th></th>
                                        <th>Date</th>
                                        <th>Breakfast</th>
                                        <th>Tea Break</th>
                                        <th>Lunch</th>
                                        <th>Extra Chit</th>
                                    </tr>
                                </tfoot>
                                <tbody>
                                    @{ int j = 0; }
                                    @foreach (var itm in BillListMD)
                                    {

                                        var TBill = @itm.TotalBill;
                                        DateTime ordDate = itm.Team.Date;
                                        double brkBill = 0;
                                        double tBrkBill = 0;
                                        double lnchBill = 0;
                                        double ecBill = 0;
                                        if (!BillViewDictionary.ContainsKey(itm.Team.Date.ToShortDateString()))
                                        {
                                            j++;
                        <tr>
                            <td>@j</td>
                            <td>
                            @{var ordDate2 = itm.Team.Date.ToString("dd.MM.yyyy");
                                var day = itm.Team.Date.Day;
                                var month = itm.Team.Date.Month;
                                var year = itm.Team.Date.Year;
                                    }
                                @ordDate2
                            </td>


                            @{ var brkBillObj = BillListMD.Where(x => x.Team.Date == ordDate && x.Team.MealTypeId == 1).FirstOrDefault();
                                                    var lnchBillObj = BillListMD.Where(x => x.Team.Date == ordDate && x.Team.MealTypeId == 2).FirstOrDefault();
                                                    var TbrkBillObj = BillListMD.Where(x => x.Team.Date == ordDate && x.Team.MealTypeId == 3).FirstOrDefault();
                                                    var ecBillObj = BillListMD.Where(x => x.Team.Date == ordDate && x.Team.MealTypeId == 10005).FirstOrDefault();
                                                    BillViewDictionary.Add(@itm.Team.Date.ToShortDateString(), @itm.Team.Date.ToShortDateString());

                                                    if (brkBillObj != null)
                                                    {
                                                        brkBill = brkBillObj.TotalBill;
                                                        //BillListMD.Remove(brkBillObj);
                                                    }
                                                    if (lnchBillObj != null)
                                                    {
                                                        lnchBill = lnchBillObj.TotalBill;
                                                        // BillListMD.Remove(lnchBillObj);
                                                    }
                                                    if (TbrkBillObj != null)
                                                    {
                                                        tBrkBill = TbrkBillObj.TotalBill;
                                                        // BillListMD.Remove(TbrkBillObj);
                                                    }
                                                    if (ecBillObj != null)
                                                    {
                                                        ecBill = ecBillObj.TotalBill;
                                                        //BillListMD.Remove(ecBillObj);
                                                    } }



                            <td>
                                <div class="row">
                                    <div class="col-sm-6">
                                        @brkBill

                                    </div>
                                    <div class="col-sm-6">
                                        <button class="btn btn-success" style="padding:3px;" onclick="ShowOrderDetails(@day,@month,@year,1)">
                                            Details
                                        </button>
                                    </div>
                                </div>
                            </td>


                            <td>
                                <div class="row">
                                    <div class="col-sm-6">
                                        @lnchBill

                                    </div>
                                    <div class="col-sm-6">
                                        <button class="btn btn-success" style="padding:3px;" onclick="ShowOrderDetails(@day,@month,@year,2)">
                                            Details
                                        </button>
                                    </div>
                                </div>

                            </td>


                            <td>

                                <div class="row">
                                    <div class="col-sm-6">
                                        @tBrkBill

                                    </div>
                                    <div class="col-sm-6">
                                        <button class="btn btn-success" style="padding:3px;" onclick="ShowOrderDetails(@day,@month,@year,3)">
                                            Details
                                        </button>
                                    </div>
                                </div>


                            </td>

                            <td>

                                <div class="row">
                                    <div class="col-sm-6">
                                        @ecBill

                                    </div>
                                    <div class="col-sm-6">
                                        <button class="btn btn-success" style="padding:3px;" onclick="ShowOrderDetails(@day,@month,@year,10005)">
                                            Details
                                        </button>
                                    </div>
                                </div>


                            </td>




                        </tr>}
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- #END# Exportable Table -->
    </div>
</section>

<script>


    function ShowOrderDetails(day, month, year,type) {
        //console.log(day);
        //console.log(month);
        //console.log(year);
        //var type = 1;
        $.ajax({
            url: '/Consumer/GetOrderDetails',
            dataType: "json",
            data: { Day: day, Month: month, Year: year, Type: type },
            success: function (data) {
                console.log(data);
                var htmlString = "";
                document.getElementById("orderTable").innerHTML = '';
                var totalPrice = 0;
                htmlString += '<table class="table table-bordered table-striped table-hover dataTable js-exportable">';
                htmlString += '<thead><tr>';
                htmlString += '<th>Item</th>';
                htmlString += '<th>Quantity</th>';

                htmlString += '<th>Unit Cost</th>';
                htmlString += '<th>Total Cost</th>';
                htmlString += '</tr></thead><tbody>';
                        
                for (var i = 0; i < data[0].length; i++) {
               
                    var item = data[1].find(x => x.Id === data[0][i].StoreOutItemId);
                    var unitPrice = data[0][i].OrderAmount / data[0][i].UnitOrdered;
                    totalPrice += data[0][i].OrderAmount;
                    htmlString += '<tr>';
                    htmlString += '<td>';
                    htmlString += item.Name;
                    htmlString += '</td>';
                    htmlString += '<td>';
                    htmlString += data[0][i].UnitOrdered;
                    htmlString += '</td>';
                    htmlString += '<td>';
                    htmlString += unitPrice.toFixed(2);
                    htmlString += '</td>';
                    htmlString += '<td>';
                    htmlString += data[0][i].UnitOrdered + ' * ' + unitPrice + ' = ' + data[0][i].OrderAmount.toFixed(2);
                    htmlString += '</td>';
                    htmlString += '<tr>';

                }
                htmlString += '<tr>';
                htmlString += '<td></td>';
                htmlString += '<td></td>';
                htmlString += '<td></td>';
                htmlString += '<td>' + totalPrice.toFixed(2) + '</td></tr></tbody></table>';
                var modal = document.getElementById("historyModal");
                modal.style.display = 'block';
                document.getElementById("orderTable").innerHTML = htmlString;
                //var a = [];
                //for (var i = 0; i < data.length; i++) {

                //    a.push(data[i].bupFullName);
                //}
                //console.log(a);

                //response(a);
                //$("#suggesstion-box").show();

            },
            error: function (xhr, status, error) {
                alert("Error");
            }
        });
    }

    function CloseModal() {
        var modal = document.getElementById("historyModal");
        modal.style.display = 'none';
    }
</script>

